<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>ConexionBase
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConexionBase</servlet-name>
        <servlet-class>servlet.ConexionBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar</servlet-name>
        <servlet-class>servlet.Cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Curriculums</servlet-name>
        <servlet-class>servlet.Curriculums</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarBorrar</servlet-name>
        <servlet-class>servlet.EditarBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paginacion</servlet-name>
        <servlet-class>servlet.Paginacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConexionBase</servlet-name>
        <url-pattern>/ConexionBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar</servlet-name>
        <url-pattern>/Cerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Curriculums</servlet-name>
        <url-pattern>/Curriculums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarBorrar</servlet-name>
        <url-pattern>/EditarBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paginacion</servlet-name>
        <url-pattern>/Paginacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
